html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  font-weight: bold;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 0; */
}

.row.hr {
  /* padding-bottom: 2rem; */
  border-bottom: 0.1rem solid #c0c0c050;
}

.row.top {
  align-items: flex-start;
}

.row.center {
  padding: 2rem 20rem;
  justify-content: center;
}

.row.bottom {
  align-items: flex-end;
}

.col-0 {
  flex: 0 0 30%;
}

.col-1 {
  flex: 1 1 15rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 3 1 70rem;
}

.right {
  float: right;
}

.content-center {
  display: block;
  margin: 0 auto;
  width: 30%;
}

/* Common */

h1 {
  font-size: 2.8rem;
  line-height: 110%;
  /* padding: 1rem 0; */
}
h2 {
  font-size: 2rem;
  /* padding: 1rem 0; */
}
a {
  text-decoration: none;
  color: #306faa;
}

a:hover {
  color: #ff8000;
}

.cart-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.grey {
  color: #828282;
}

.blue {
  color: #306faa;
}

.vr {
  border-left: 0.1rem solid #c0c0c0;
  /* margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.9rem; */
  padding: 0 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

ul.mb-3 > li {
  margin-bottom: 2rem;
}

/* Header */

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.badge {
  font-weight: bold;
  color: #ff8000;
  padding: 0.2rem 0.7rem;
  font-size: 1.8rem;
  margin-left: 0.2rem;
}

header a {
  color: #ffffff;
  padding: 1rem;
}

/* Card */
.card {
  margin: 2rem 1rem;
  padding: 1.5rem 2.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  /* background-color: #f8f8f8; */
}

.card-body > * {
  margin-bottom: 1.8rem;
  word-wrap: break-word;
}

.card ul,
.col-1 ul {
  margin: 0;
  padding: 0;
}

.col-1 li,
.col-2 li {
  padding: 0.3rem;
}

.no-list-style {
  list-style-type: none;
}

.price {
  font-size: 160%;
  color: #b82525;
}

/* Input & Button */
input,
select,
textarea,
button {
  padding: 1rem;
  border: 0.1rem #a4a4a4 solid;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

select {
  margin: 0 0.7rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 5rem;
  max-width: 10rem;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
  font-size: 90%;
}

button.primary {
  background-color: gold;
  border-radius: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

button.buy {
  background-color: orange;
  border-radius: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
}

button.block {
  width: 100%;
  display: block;
}

.rating span {
  color: gold;
}

.rating span:last-child {
  margin: 0.5rem;
  color: #404040;
}

/* Form */
form {
  max-width: 50rem;
  margin: 0 auto;
}

form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

label {
  font-weight: bold;
  display: block;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.sm {
  max-width: 13rem;
  max-height: 23rem;
  width: 100%;
  height: 100%;
}

img.md {
  max-width: 40rem;
  min-height: 35rem;
  max-height: 35rem;
}

img.lg {
  max-width: 60rem;
  width: 100%;
}

/* Footer */
footer {
  font-weight: bold;
  justify-content: center;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  margin: 0.2rem;
  color: #20a020;
}

.danger {
  margin: 0.2rem;
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #4ba54b;
  background-color: #eeffe0;
}

/* Font Awesome Icon */
.fa-check-circle {
  margin: 0.5rem;
  color: #4ba54b;
}
