html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6.7rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #141f29;
  font-weight: bold;
  padding: 0.5rem 0.8rem;
}

header img {
  max-width: 17rem;
  height: 5.2rem;
}

header > * {
  align-items: center;
  padding: 0.1rem 0.2rem;
  height: 90%;
  /* border: 0.3rem #ffffff transparent; */
}

header > *:not(.searchbox):hover {
  border: 0.2rem #ffffff solid;
  margin: -0.1rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.hr {
  padding: 1rem 0;
  border-bottom: 0.1rem solid #c0c0c030;
  /* border-bottom: linear-gradient(to right, #00000000, #00000030, #00000000); */
}

.row.top {
  align-items: flex-start;
}

.row.center {
  padding: 0 7%;
  justify-content: center;
}

.row.sidepad {
  padding: 1% 17%;
}

.row.sidepad.md {
  padding: 0 32%;
}

.row.bottom {
  align-items: flex-end;
}

.justify-start {
  margin-right: auto;
}

.row.flex-row {
  margin: 2rem;
  flex-direction: row;
  /* padding-left: 2rem; */
}

.col-xs {
  flex: 0 0 7rem;
}

.col-sm {
  flex: 0 0 19%;
}

.col-0 {
  flex: 0 0 27%;
  /* margin-left: 0.7rem; */
}

.col-1 {
  flex: 1 1 20rem;
  /* margin-left: 0 0.7rem; */
}

.col-2 {
  flex: 2 1 40rem;
}
.col-3 {
  flex: 3 1 60rem;
}

.col-4 {
  flex: 4 1 140rem;
}

.col-100 {
  flex: 0 0 100%;
}

.right {
  float: right;
}

.content-center {
  text-align: center;
}

.content-center > small {
  margin-right: 1.7rem;
}

/* Common */

h1 {
  font-size: 2.5rem;
  line-height: 110%;
  margin-bottom: 0.4rem;
  /* padding: 1rem 0; */
}
h2 {
  font-size: 2rem;
  /* padding: 1rem 0; */
  display: inline-block;
  margin-right: 0.8rem;
}

h3 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

a {
  text-decoration: none;
  color: #306faa;
}

a.grey {
  font-size: 1.4rem;
}

a:hover {
  color: #ff8000;
}

.active {
  font-weight: bold;
}

.cart-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.grey {
  color: #828282;
}

.blue {
  color: #306faa;
}

.dark-grey {
  color: #2e2e2e;
}

.green {
  color: #4ba54b;
}

.dark-red {
  color: #a02020;
  font-weight: bold;
  font-size: larger;
}

.vr {
  border-left: 0.1rem solid #c0c0c070;
  padding-left: 2rem;
}

hr {
  border: 0;
  height: 0.1rem;
  background-image: linear-gradient(to right, #00000000, #00000030, #00000000);
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}

ul.mb-3 > li {
  margin-bottom: 1.7rem;
}

.no-border {
  border: none;
}

/* Header */
/* 
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
} */

.badge {
  font-weight: bold;
  color: #ff8000;
  padding: 0.2rem 0.7rem;
  font-size: 1.8rem;
  margin-left: 0.2rem;
}

header a {
  color: #ffffff;
  padding: 1rem;
}

/* Drop down */

.drop-down {
  display: inline-block;
  position: relative;
}

.drop-down-content {
  position: absolute;
  z-index: 2;
  display: none;
  right: -1rem;
  font-size: 1.5rem;
  min-width: 50rem;
  min-height: 35rem;
  padding: 0.2rem 0.5rem;
  background-color: #ffffff;
  margin: 0rem;
  margin-top: 0.4rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 0.2rem;
}

.drop-down-content::before {
  content: "";
  position: absolute;
  z-index: 3;
  border-color: transparent transparent #ffffff transparent;
  border-style: solid;
  border-width: 1rem;
  width: 0;
  height: 0;
  right: 1.2rem;
  top: -1.8rem;
}

.drop-down:hover .drop-down-content {
  display: block;
}

/* Progress bar */
.progress-bar {
  position: relative;
  margin-top: 2rem;
}
.progress-bar > div {
  border-top: 0.4rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.progress-bar > div.enabled {
  border-top-color: #ff8000;
  color: #ff8000;
}

.progress-bar i {
  display: none;
}

div.active > i {
  position: absolute;
  z-index: 4;
  display: block;
  /* top: 6rem; */
  bottom: 3rem;
}

/* Image */

img {
  border-radius: 0.5rem;
  width: auto;
  height: auto;
}

div.logo {
  margin-left: 35%;
}

div.xs {
  width: 8rem;
  height: 8rem;
}

div.sm {
  width: 24rem;
  height: 24rem;
}

div.md {
  width: 32rem;
  height: 32rem;
}

div.lg {
  width: 45rem;
  height: 45rem;
}

div.xl {
  width: 60rem;
  height: 60rem;
}

div.xs img,
div.sm img,
div.md img,
div.lg img,
div.xl img {
  display: block;
  height: 95%;
  width: auto;
  margin: 0 auto;
}

/* Card */
.card {
  margin: 2rem 1rem;
  padding: 1.5rem 2.5rem;
  border: 0.1rem #c4c4c4 solid;
  border-radius: 0.5rem;
  /* background-color: #f8f8f8; */
}

.card-body > * {
  margin-bottom: 1.8rem;
  word-wrap: break-word;
}

.card.info {
  background-color: #f8f8f8;
}

.card.security {
  margin: 0;
  padding: 0;
  width: 65rem;
}
.card.security > div {
  padding: 2rem;
  border-top: 0.1rem #c4c4c4 solid;
}

.card.security > div:first-child {
  border-top: none;
}

.card.search {
  max-width: 22%;
  height: 58rem;
}

.card.home {
  width: 35rem;
  height: 40rem;
}

.card ul,
.col-1 ul {
  margin: 0;
  padding: 0;
}

.col-1 li,
.col-2 li {
  padding: 0.3rem;
}

.no-list-style {
  list-style-type: none;
}

.price {
  font-size: 130%;
  color: #b82525;
}

/* Input, Select, Button */
input,
select,
textarea,
button {
  padding: 1rem;
  border: 0.1rem #a4a4a4 solid;
  border-radius: 0.3rem;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:not([type="radio"], .search):focus,
textarea:focus {
  box-shadow: 0px 0px 1.3rem #ff8000;
  outline: none;
  border: 0.1rem #ff8000 ridge;
  transition-duration: 0.2s;
}

button:hover,
select:hover {
  -webkit-filter: brightness(95%);
  -moz-filter: brightness(95%);
  -o-filter: brightness(95%);
  -ms-filter: brightness(95%);
  filter: brightness(95%);
}

input {
  margin-right: 0.7rem;
}
input[type="radio"] {
  height: 1.5rem;
  width: 1.5rem;
  /* margin: 1.5rem 0.5rem 1.4rem 0; */
}
input[type="radio"] + label {
  margin-left: 0.1rem;
  margin-top: 1.2rem;
}

input.search {
  width: 88%;
  /* height: 2.5rem; */
  line-height: 4.6rem;
  outline: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transform: translateX(6.8%);
}

input.title {
  width: 70%;
  display: block;
}

select {
  margin: 0 0.7rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 5rem;
  max-width: 10rem;
}

select.search {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 3rem;
  height: 4.6rem;
  margin: 0;
  padding: 0 1rem;
  color: #404040;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

/* select.search:focus {
  min-width: 6rem;
  width: auto;
} */

button {
  border: none;
  background-color: #ebebeb;
  cursor: pointer;
  font-size: 90%;
}

button.search {
  z-index: 2;
  position: absolute;
  height: 4.6rem;
  width: 6%;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: orange;
}

button.rect {
  background-color: #ffd102;
  border-radius: 0.5rem;
  width: 21rem;
}

button.primary {
  background-color: gold;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
  width: 100%;
}

button.block {
  /* width: 100%; */
  display: block;
  margin: 0.3rem auto;
}

button.buy {
  background-color: orange;
  border-radius: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
  width: 100%;
}

button.cart {
  border-radius: 2.2rem;
  /* margin: 0 2rem 0 0; */
  line-height: 1.6rem;
}

button.review {
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 1.3rem #cecece;
  outline: none;
  margin-top: 1rem;
  width: 75%;
}

button.review.helpful {
  width: 10rem;
  height: 4rem;
  margin-right: 3rem;
}

button.submitReview {
  float: right;
  background-color: #ffd102;
  width: 12rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-right: 3rem;
}

button.buyAgain {
  line-height: 3rem;
  width: 20rem;
  font-size: large;
}

button.myOrder {
  float: right;
  width: 60%;
  margin-bottom: 0.4rem;
  line-height: 2.2rem;
}

button.security {
  float: right;
  width: 7rem;
  border: 0.1rem #a4a4a4 solid;
}

/* button.review {
  float: right;
  width: 4rem;
} */

/* Rating */

.rating span {
  color: gold;
}

.rating span:last-child {
  margin: 0.5rem;
  color: #404040;
}

.rating-progress-bar:hover {
  text-decoration: underline;
  color: #306faa;
}
.rating-progress-bar > a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.rating-bar {
  background-color: #cfcfcf80;
  border-radius: 0.3rem;
  width: 20rem;
  height: 2.2rem;
  margin: 0.8rem 1rem;
  padding: 0;
}

.rating-bar > div {
  background-color: #f19d01;
  border: 0.2rem #f19d01 solid;
  height: 2rem;
  border-radius: 0.3rem;
  margin: 0;
}

/* Form */
form {
  max-width: 50rem;
  margin: 0 auto;
}

form:not(.search) > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

form.search {
  /* margin-left: 10rem; */
  /* border: 0.4rem solid #20a020; */
  position: relative;
  min-width: 100rem;
  /* width: 110rem; */
  max-width: 140rem;
}

label {
  font-weight: bold;
  display: inline-block;
}

/* Footer */
footer {
  font-weight: bold;
  justify-content: center;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  margin: 0.2rem;
  color: #20a020;
}

.danger {
  margin: 0.2rem;
  color: #a02020;
}

.alert {
  padding: 1.4rem 2rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #4ba54b;
  background-color: #eeffe0;
}

.alert big {
  display: block;
}

/* Font Awesome Icon */
.fa-check-circle {
  margin: 0.5rem;
  color: #4ba54b;
}

.fa-exclamation-triangle {
  margin-right: 1.8rem;
}

.fa-info-circle {
  margin-right: 0.5rem;
  color: #306faa;
}

.fa.lg {
  font-size: 2.3rem;
}

.fa.orange {
  color: #f19d01;
}

.table {
  width: 100%;
  border-collapse: separate;
  border: 0.3rem solid #e4e4e4;
  border-radius: 0.5rem;
  color: #404040;
  background-color: #f4f4f4;
  padding: 1.3rem 1.8rem;
}
/* 
.table tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
} */
.table td,
th {
  text-align: left;
  /* border: 1rem solid #e4e4e4; */
}

td:last-child,
th:last-child {
  text-align: right;
}

/* Page Custom CSS */

/* Cart Page */
.cart-bg-grey {
  background-color: #e9e9e9;
}
.cart-bg-grey .card {
  background-color: #ffffff;
}

/* Order Summary */
a > .card {
  max-height: 9rem;
  max-width: 30rem;
}
a > .card-body:hover {
  background-color: #00000009;
}

/* Search Result Page */

.sidebar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.sidebar a {
  color: #000000;
}

.pagebox a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 0.1rem #afafaf solid;
  background-color: #f7f7f7;
  font-size: 1.6rem;
  color: #000;
}
